{% extends 'base.html.twig' %}

{% block body %}

    <h3>Confirmation of registration!</h3>

    <p>You are welcome!, {{ user.username }}!</p>
    <p>To complete the registration, confirm <a href="http://127.0.0.1:8000{{ path('confirm',{'code': user.confirmationCode }) }}"> email </a></p>

{% endblock %}
